  .wrapper {
    text-align: center;
    width: 100%;
    margin-top: -4rem;
  }
  #search-container {
    margin: 1em 0;
  }
  #search-container input {
    background-color: transparent;
    width: 40%;
    border-bottom: 2px solid #151515;
    padding: 1em 0.3em;
    transition: border-bottom-color 0.6s;
  }
  #search-container input:focus {
    border-bottom-color: #FFF;
  }

  #search-container button {
    cursor: pointer;
    padding: 1em 2em;
    margin-left: 1em;
    background-color: var(--container-color);
    color: #ffffff;
    border-radius: 10px;
    margin-top: 0.5em;
    font-family: var(--second-font);
    font-weight: var(--font-semi-bold);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
  }

  #search-container button:hover {
    background-color: #2d2d2d;
    transform: translateY(-0.25rem);
  }

  .button-value {
    border: 2px solid #FFF;
    padding: 1em 2em;
    border-radius: 15px;
    background-color: transparent;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    font-family: var(--second-font);
    font-weight: var(--font-semi-bold);
  }

  .button-value:hover {
    background-color: #2d2d2d;
}

#search-container button.active {
    /* background-color: #FFF; */
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    color: #ffffff;
    background-color: var(--container-color);
}

.active {
    transform: translateY(-0.25rem);
    background-color: var(--container-color);
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    color: #ffffff;
  }

  #explorer {
    display: grid;
    grid-column-gap: 1.5em;
    padding: 2em 0;
  }

  .hide {
    display: none;
  }
  @media screen and (max-width: 768px) {
    .button-value {
        margin: 0.5rem;
    }
  }