@import "font.css";

.home_shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 58%, hsl(0, 0%, 0%) 73%);
    z-index: 1;
}

@media only screen and (max-width: 600px) {
  .home_shadow {
      display: none; 
  }
  /* .home__info {
    margin-top: -20rem !important;
  } */
}


.pesona_description {
    text-align: center;
    margin-bottom: var(--mb-2-5);

}

.btn-event {
    background-color: var(--container-color);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    padding: 1.25rem 1.5rem;
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    font-family: var(--second-font);
    font-weight: var(--font-semi-bold);
    border-radius: 5rem;
}

.btn-event i {
    font-size: 1.25rem;
    font-weight: initial;
    transition: transform .4s ease; 
}

.btn-event:hover i {
    transform: translateX(.4rem);
}

.explore-cont {
  display: flex;
}

.btn-exp {
  margin-left: 6rem;
  margin-bottom: .5 rem;
  color: #FFF;
  /* backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); */
  /* padding: 1rem 1rem; */
  display: inline-flex;
  align-items: center;
  /* column-gap: .5rem; */
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
  /* border-radius: 5rem; */
}

.btn-exp i {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform .4s ease; 
}

.btn-exp:hover i {
  transform: translateX(.4rem);
}

.btn_utama {
    background-color: var(--container-color);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    padding: 1.25rem 1.5rem;
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    font-family: var(--second-font);
    font-weight: var(--font-semi-bold);
    border-radius: 5rem;
}

.btn_utama i {
    font-size: 1.25rem;
    font-weight: initial;
    transition: transform .4s ease; 
}

.btn_utama:hover i {
    transform: translateX(.4rem);
}

.popular_container {
    grid-template-columns: 240px;
    justify-content: center;
    /* row-gap: 2rem; */
  }

.popular_image {
  border-radius: 0 15% 0 15%;
  position: relative;
  overflow: hidden;
}

.popular_image img {
  width: auto;
  height: auto;
}

.popular_img {
  transition: transform .4s;
}

.popular_location {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  font-size: var(--smalli-font-size);
  font-family: var(--second-font);
  font-weight: 500;
}

.popular_location i {
  font-size: 1rem;
}

.popular_image:hover .popular_img {
  transform: scale(1.2);
}

/* Explore */

.explore {
  position: relative;
}

.explore_image {
  position: absolute;
  overflow: hidden;
}

.explore_img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.explore_shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,
              hsl(0, 0%, 0%) 5%,
              hsla(0, 0%, 0%, 0) 40%,
              hsla(0, 0%, 0%, 0) 60%,
              hsl(0, 0%, 0%) 92%);
}

.explore_content {
  position: relative;
  padding-top: 16rem;
  text-align: center;
  row-gap: 2.5rem;
}

.explore_description {
    margin-top: .4rem;
}

@media (max-width: 768px) {
  .explore_description {
    margin: 1rem;
  }
}

@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }
}

@media screen and (min-width: 576px) {
  .home_container, 
  .explore_content {
      grid-template-columns: 380px;
      justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .popular_container {
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
  }
  .explore_img {
    width: 100vw;
  }
  .popular_title {
    margin-top: .4rem;
    font-size: var(--h3-font-size);
  }
  .popular_location {
    font-size: var(--h4-font-size);
    color: var(--first-color-secondary);
  }
  .section_title {
    margin-bottom: var(--mb-2-5);
  }
}

@media screen and (min-width: 768px) {
  .about_container {
    grid-template-columns: repeat(3, 350px);
    align-items: center;
  }
 .section_title {
    text-align: initial;
  }
  .popular_container {
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem;
  }
  .explore_img {
    width: 100vw;
  }
}

.popular_title:hover {
    transition: all 0.4s;
    color: #5c5c5c;
}

@media screen and (min-width: 1023px) {
    .popular_container {
        grid-template-columns: repeat(4, 240px);
    }
    
}

@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }
  .popular_title {
    margin-top: .4rem;
    margin-bottom: .2rem;
    transition: all 0.3s;
    font-size: var(--h3-font-size);
  }
  .popular_location {
    color: var(--first-color-secondary);
    font-size: var(--normal-font-size);
  }
  .explore_img {
    height: 400px;
  }
  .explore_content {
    padding-top: 20rem;
    grid-template-columns: 670px 1fr;
  }
  .explore_data,
  .explore_data .section_title {
    text-align: initial;
  }
  .section_title {
    margin-left: 8rem;
    text-align: initial;
  }
  .title_event {
    margin-bottom: -4rem;
    margin-left: 8rem;
    text-align: initial;
  }
  .btn-exp {
    margin-left: 43rem;
    color: #FFF;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    padding: 1.25rem 1.5rem;
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    font-family: var(--second-font);
    font-weight: var(--font-semi-bold);
    border-radius: 5rem;
  }
  .btn-exp i {
    font-size: 1.25rem;
    font-weight: initial;
    transition: transform .4s ease; 
  }
  .btn-exp:hover i {
    transform: translateX(.4rem);
  }
}


/* Filter */
.wrapper {
    text-align: center;
    width: 100%;
    margin-top: -4rem;
  }
  #search-container {
    margin: 1em 0;
    cursor: pointer;
  }
  #search-container input {
    color: #FFF;
    background-color: transparent;
    width: 40%;
    border-bottom: 2px solid #151515;
    padding: 1em 0.3em;
    transition: border-bottom-color 0.6s;
  }
  #search-container input:focus {
    border-bottom-color: #FFF;
  }

  #search-container button {
    cursor: pointer;
    padding: 1em 2em;
    margin-left: 1em;
    background-color: var(--container-color);
    color: #ffffff;
    border-radius: 10px;
    margin-top: 0.5em;
    font-family: var(--second-font);
    font-weight: var(--font-semi-bold);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
  }

  #search-container button:hover {
    background-color: #2d2d2d;
    transform: translateY(-0.25rem);
  }

  .button-value {
    border: 1.4px solid #151515;
    padding: 1em 2em;
    border-radius: 2rem;
    background-color: transparent;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    font-weight: var(--font-semi-bold);
    margin: 0.2rem;
  }

  .button-value:hover {
    background-color: #5c5c5c;
}

/* #search-container button.active {
    background-color: #FFF;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    color: #ff0000;
    background-color: var(--container-color);
} */

.active {
    transform: translateY(-0.25rem);
    background-color: #2e2e2e;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    color: #ffffff;
    border: 0.1rem solid #FFF;
}

.active-tab {
    transform: translateY(-0.25rem);
    background-color: #2e2e2e;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    color: #ffffff;
    border: 0.1rem solid #FFF;
  }

  #explorer {
    display: grid;
    grid-column-gap: 1.5em;
    padding: 2em 0;
    margin-bottom: 20rem;
  }

  .hide {
    display: none;
  }

  .no-results {
    font-weight: bold;
    font-size: var(--h2-font-size);
    color: var(--title-color);
    justify-content: center;
    text-align: center;
    margin-top: -24rem;
  }

  @media screen and (max-width: 768px) {
    .button-value {
        margin: 0.5rem;
    }
  }

  